.heading {
    text-align    : center;
    padding-bottom: 2rem;
    text-shadow   : var(--text-shadow);
    text-transform: uppercase;
    color         : var(--black);
    font-size     : 5rem;
    letter-spacing: .4rem;
}

.heading span {
    color: var(--green);
}


.header {
    padding        : 2rem 9%;
    text-transform : uppercase;
    box-shadow     : 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    background     : #fff;
    font-weight    : bold;
}

.header .logo {
    font-size: 2.5rem;
    color    : var(--black);
}

.header .logo i {
    color: var(--green);
}

.header .navbar a {
    font-size: 1.7rem;

    color      : var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--green);
}

.cta {

    button {
        padding         : 15px 25px;
        background-color: #16a085;
        font-weight     : 600;
        border          : none;
        border-radius   : 50px;
        cursor          : pointer;
    }
}

.navbar-links {
    height: 70%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}



 .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}