.flex-box {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : center;
}


.item {
    width              : inherit;
    height             : 80vh;
    flex-grow          : 4;
    background-repeat  : no-repeat;
    background-position: center center;
    background-size    : cover;
    background-image   : url("https://res.cloudinary.com/dbvcrlwbo/image/upload/v1644766934/mo-NKhckz9B78c-unsplash_o3omfv.jpg");
}



@media only screen and (max-width: 1200px) {
    .item {
        background-color: lightblue;
    }

    .hospitalForm {
        width: 100%;
    }
}